@import './reset';

@mixin button {
  @include reset-button;
  position: relative;
  z-index: 0;

  display: inline-flex;
  max-width: px-to-rem(228);
  width: 100%;
  align-items: center;
  justify-content: center;

  border-radius: px-to-rem(5);
  padding: px-to-rem(14) px-to-rem(32);
  overflow: hidden;
  
  @include transition(color 0.5s);
  transform: translateZ(0);
  font-weight: 400;
  font-size: px-to-rem(16);
  line-height: 116%;
  text-align: center;
  text-decoration: unset;
  color: var(--color-white);
  background-color: var(--color-blue-100);

  @include hover-focus-visible {
    @include non-mobile-device {
      color: var(--color-white);

      &::before {
        transform: translate(0);
      }
    }
  }

  &::before {
    content: '';
    display: block;
    @include absolute-fullsize;
    z-index: 0;
    border-radius: inherit;

    @include transition(transform 0.5s);
    transform: translate(-110%, 0);
    background-color: var(--color-black-100);
  }

  span {
    position: relative;
    pointer-events: none;
    z-index: 1;
  }
}

@mixin button-light {
  @include button;
  //padding: px-to-rem(16) px-to-rem(26);
  color: var(--color-blue-100);
  background-color: var(--color-white);

  &::before {
    background-color: var(--color-blue-100);
  }

  &::after {
    content: '';
    display: block;
    @include absolute-fullsize;
    z-index: 1;
    border: 0.6px solid var(--color-blue-100);
    border-radius: inherit;
  }
}